.app{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(100, 117, 133);
  padding: 20px;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.board{
  height: 640px;
  width: 640px;
  margin: 20px;
  background-color: grey;
  border-radius: 5px;
}

.controls{
  position: absolute;
  top: 190px;
  right: -400px;
  width: 400px;
  height: 300px;
  background-color: rgb(210, 210, 189);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board-row{
  display: flex;
}

.block{
  width: 80px;
  height: 80px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block img{
  transition: .3s ease all;
}

.block:hover img{
  transform: scale(1.1);
  cursor: pointer;
}

#player1, #player2{
  width: 600px;
  height: 100px;
  background-color: beige;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  border: 5px solid rgb(134, 197, 7);
}

.player-lost-pieces img{
  margin: 5px 2px 2px 2px;
  width: 25px;
  height: 25px;
}

.controls > button{
  font-size: 1.3rem;
  width: 150px;
  height: 40px;
}

.controls > button > img{
  width: 30px;
  height: 30px;
}

#screen{
  width: 100%;
  height: 200px;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 1.3rem;
  line-height: 2rem;
  font-family: 'Courier New', Courier, monospace;
  border: 5px solid rgb(182, 187, 125);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.message{
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  color:rgb(158, 149, 66);
}

#mask{
  position: absolute;
  left: 500px;
  bottom: 20px;
  width: 1000px;
  background-color: white;
  transition: 10s ease all;
  font-size: 1.5rem;
  animation: animate 20s linear infinite;
}

@keyframes animate{
  0%{
    left: 500px;
  }

  50%{
    left: 0px;
  }

  100%{
    left: -800px;
  }
}